p {
  margin: 0;
}

.containerList {
  list-style-type: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 15px;
  background-color: black;
  color: white;
  outline: none;
  border: 2px solid yellowgreen;
}

.button:hover,
.button:focus {
  background-color: yellowgreen;
  border: 2px solid black;
}
